*{
  margin:0;
  border:border-box ; 

}

.icons1{
  
  height: 70px;
  background-color: #0f1111;

}

.icons2{
  
  height: 40px;
  background-color: midnightblue;
}


.photo{
    background-image: url('images/amazonFRONT.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
     align-items: center;
     vertical-align: middle;
     gap: 10px;
   }

 .photo2{
   
    height: 100%;
    width: 20%;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
     
    
 }  


.para1{
    display: flex;
    margin: 0px;
    font-style: bold;
    font-display: auto;
    text-align: center;
    font-size: 20px;

}

